<div class="tabla-container">
  <table class="b-1px-gray">
    <thead>
    <tr class="b-1px-gray">
      <th>Poligono</th>
      <th>Aproximacion PI</th>
      <th>Angulo (sen/cos)</th>
      <th>Adyacente</th>
      <th>Opuesto</th>
      <th>Area Triangular</th>
      <th>Area Total</th>
      <th>Perimetro</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let iteracion of iteraciones" class="b-1px-gray">
      <td [innerText]="iteracion.ladosPoligono"></td>
      <td [innerText]="iteracion.aproximacion"></td>
      <td>
        <div [innerText]="iteracion.angulo"></div>
        <div [innerText]="iteracion.cos"></div>
        <div [innerText]="iteracion.sin"></div>
      </td>
      <td [innerText]="iteracion.adyacente"></td>
      <td [innerText]="iteracion.opuesto"></td>
      <td [innerText]="iteracion.areaTriangular"></td>
      <td [innerText]="iteracion.area"></td>
      <td [innerText]="iteracion.perimetro"></td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
<!-- length: {{iteraciones.length}} -->
